body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: black;
   display: flex;
   flex-direction: column;
  }
  
#BTN {
  height: 150px ;
  width: 250px ;
  border-radius:  20px;
  font-size: 3rem;
  background-color: brown;
} 
#BTN:hover{
  background-color: #bb3d0b;
} 
p{
  color: white;
  font-size: 5rem;
}
